body {
    font-family: "montserrat";
    text-align : center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat-Bold";
}

.container-fluid {
    padding: 7% 15%;
}


/* .form-inline{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 23%;} */

/* Title Section */
#title {
    background: rgb(27, 36, 0);
    background: linear-gradient(90deg, rgba(27, 36, 0, 1) 0%, rgba(109, 121, 9, 1) 0%, rgba(0, 212, 255, 1) 100%);
    color     : #fff;
    text-align: left;
}

#title .container-fluid {
    padding: 3% 15% 7%;
}

/* Navigation Bar */
.navbar {
    padding-bottom: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size  : 2.5rem;
    line-height: 1.5;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size  : 1.2rem;
    font-family: "Montserrat-light";
}

.logo {
    /* height: 25%; */
    width       : 10%;
    float       : left;
    margin-right: 10px;
}

/* Feature Section */
#features {
    background-color: #fff;
    position        : relative;
    z-index         : 1;
}

.feature-title {
    line-height: 1.5;
}

.feature-box {
    padding: 5%;
}

.icon {
    color        : #52E5E1;
    margin-bottom: 1rem;
}

.icon:hover {
    color        : #87BC61;
    margin-bottom: 1rem;
}

/* Testimonial Sections */
#testimonials {
    padding         : 7% 15%;
    text-align      : center;
    background-color: #98DDCA;
    color           : #fff;
}

.testimonial-text {
    font-size  : 3rem;
    line-height: 1.5;
}

.testimonial-image {
    width        : 10%;
    border-radius: 100%;
    margin       : 20px;
}

/* .search_btn {
    margin-left: 43%;
} */

#wikiLogo {
    width           : 10%;
    border-radius   : 100%;
    /* margin       : 20px; */
    text-align      : center;
    display         : block;
    margin          : auto;

}

/* .submit-btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 14;
    -moz-border-radius: 14;
    border-radius: 14px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .submit-btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  } */

.btn {
    background: #159957;
    background: -webkit-linear-gradient(to right, #155799, #159957);
    background: linear-gradient(to right, #155799, #159957);
    color     : #fff;
}

.ttd-img {
    width: 100%;
}

.resultItem {
    text-align : center;
    border     : solid 1px #000000;
    padding    : 2%;
    margin-top : 2%;
    font-weight: 500;
}

.searchForm {
    position: absolute;
    right   : 40%;

}

.d-flex {
    position: absolute;
    right   : 40%;
}

#map{
    height:570px;
    width:100%;
}